body {
	width: 100%;
	font-family: "Verdana", "Helvetica", sans-serif;
	background-color: gray;
}

label {
	width: 200px;
}

input {
	
}

#container {
	float: left;
	text-align: right;
}

#container p, 